.icon {
  box-sizing: border-box;
  float: left;
  height: 30px;
  padding: 1px;
}

a {
  color: unset;
  text-decoration: none;
}

.title {
  background-color: var(--whites);
  color: var(--black);
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}
