@use './variables';
@use './ww/text';
@use './ww/misc';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

body {
  background-color: var(--grey);
  box-sizing: border-box;
  color: var(--text);
  font-family: var(--mono);
  margin: 0;
}

::selection {
  background-color: var(--red);
  color: var(--white);
}

.ndisplay {
  display: none;
}

.nvisible {
  visibility: hidden;
}
